<!-- **************************   Main HTML   ************************** -->
<!-- Nav -->
<nav class="nav-wrapper">
  <div class="container">
      <img src="../assets/images/viaro-logo.png" alt="logo">
      <a href="#" class="brand-logo headerTitle">Students API </a>
      <img class="meanLogo" src="../assets/images/MEAN.png" align="right" alt="logo">
  </div>
</nav>
<!-- Students Component -->
<app-students></app-students>
<!-- Students Component -->
<app-teachers></app-teachers>
<!-- Students Component -->
<app-degrees></app-degrees>
<!-- StudentsGrade Component -->
<app-student-grade></app-student-grade>